@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}



.img-loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid rgba(214, 173, 132, 0.897); /* light brown */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    display: none;
    }
body {
    /* background: #ffece6;
    background: #cc9766; */
    background: linear-gradient(to bottom, rgba(214, 173, 132, 0.897), rgba(228, 220, 208, 0.486));
    padding-bottom: 100px;

}

#info-box > p{
    text-align: center;
    /* border-bottom: 1px solid black; */
    width: 50%;
    margin: 0 auto;
}
.navbar {
    border-bottom: 1px solid black;
}
.homeButton{
    margin-left: 1vh;
    margin-top: 1vh;
    color: white;
    background-color: black;
    width: auto;
}
.city-name{
    /* margin-left: 16%; */
    font-weight: bold;
    color: black;
    font-size:150%;
    text-align: center;
}
.header {
    width: 100%;
    margin: 0 auto;
}
.hideCarousel{
    display: none;
}
.hidden {
    display: none;
}

h1 {
    text-align: center;
    max-width: 45%;
    margin: 0 auto;
    border-bottom: 1px solid black;

}
@media only screen and (max-width: 600px){
    h1{
        max-width: 100%;
    }
    .homeButton{
        float: right;
        margin-right:5px;
    }
}

@media only screen and (max-width: 1170px){
    h1{
        max-width: 50%;
    }
}
@media only screen and (max-width: 1040px){
    h1{
        max-width: 55%;
    }
}
@media only screen and (max-width: 950px){
    h1{
        max-width: 60%;
    }
}
@media only screen and (max-width: 885px){
    h1{
        max-width: 65%;
    }
}
@media only screen and (max-width: 805px){
    #firstEmojis{
        visibility: hidden;
    }
    #titleText{
        display: block !important;
    }
}

#titleText{
    display: inline;
}

#googleMap {
    height: 100%;
    width: 100%;
    margin-bottom: 1%;
    border-radius: 3%;
    filter: drop-shadow(20px 5px 50px #d68419);
}

#map-box {
    order: 1;

}

#info-box {
    order: 2;
    overflow: scroll;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.backButton:hover {
    background: slategrey;
    color: white;
   
   
}

.container-fluid {
    display: flex;
    height: 70%;
    padding: 0;
    flex-wrap: wrap;
    margin-top: 5%;

}

#footer {
    order: 3;
    margin: 0 auto;
}

body {
    width: 100%;
}


.img-fluid{
    height: 14vh;
}

.carousel {
    width: 100%;
    height: auto;
}
.imageArea img{
    border: 1px solid white;
    border-radius: 5px;
}
.resultContainer{
    display: flex;
    margin-bottom: 2%;
    color: black;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 35px darkslategray;
    padding: 10px;
}

.margin{
    margin-top: 10%;
    width: 100%;
    border-bottom: 1px dotted black;
}

.infoArea{
    margin-left: 1%;
    width: 69%;
}

.title, .phone, .address, .isOpen{
    text-align: center;
}
.centerButton{
    text-align: center;
    width: 87%;
    margin: 0 auto;
}
.btn-primary.moreInfo{
    background-color: brown !important;
    border: none !important;
}
.moreInfo {
    text-align: center;
    color: white;
    font-size: 2em;
}
.markerInfo {
    text-align: center;
    color: mediumblue;
    text-decoration: underline;
    font-size: 1em;
}
.moreInfo:hover{
    cursor: pointer;
}

.place-search { 
    display: flex;
    justify-content: center;
   
}

.directions {
    background: linear-gradient(to bottom, rgba(245, 224, 203, 0.897), white);
    padding: 15px;
    border-radius: 5px;
  
}


#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    /* background-color: red; */
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}
#myBtn:hover{
    background: black;
}

.backButton{
    margin-bottom: 1vw;
}
.direct-icon{
    background: yellow;
}

@media only screen and (max-width: 791px) {
    .container-fluid {
        /* display: block; */

    }

    .col-md-6 {
        max-width: 100% !important;
    }

}

img {
    height: 200px;
    width: 200px;
}
.direct-icon {
    height: 20px; 
    width: 20px;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    #info-box{
        margin-top: 12%;
    }
    body{
        background: rgba(214, 173, 132, 0.897);
    }
    }
@media only screen and (max-width: 480px) {
    .directions {
        margin-top: 15px;
    }
}