@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Apple Chancery", cursive;
}

body {
    /* background: #ffece6;
    background: #cc9766; */
    background: linear-gradient(to bottom, rgba(245, 224, 203, 0.897), rgb(130, 95, 165));
    padding-bottom: 100px;

}

#errorMessage{
    text-align: center;
}
.noDirections{
    color: red;
    visibility: hidden;
    margin: 0px;
    margin-right: 6% !important;
}

.navbar {
    border-bottom: 1px solid black;
}
.homeButton{
    margin-left: 1vh;
    margin-top: 1vh;
    color: white;
    background-color: black;
    width: auto;
}
.city-name{
    /* margin-left: 16%; */
    font-weight: bold;
    color: black;
    font-size:150%;
    text-align: center;
}
.header {
    width: 100%;
    margin: 0 auto;
}
.hideCarousel{
    display: none;
}

h1 {
    text-align: center;
    width: 35%;
    margin: 0 auto;
    border-bottom: 1px solid black;

}

#googleMap {
    height: 100%;
    width: 100%;
    margin-bottom: 1%;
    border-radius: 3%;
    filter: drop-shadow(20px 5px 50px #d68419);
}

#map-box {
    order: 1;

}

#info-box {
    order: 2;
    overflow: scroll;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.backButton{
    cursor: pointer;
    color: white;
    background-color: black;
    border: 0px;
    width: 5vw
   
}

.container-fluid {
    display: flex;
    height: 70%;
    padding: 0;
    flex-wrap: wrap;
    margin-top: 5%;

}

#footer {
    order: 3;
    margin: 0 auto;
}

body {
    width: 100%;
}


.img-fluid{
    height: 14vh;
}

.carousel {
    width: 100%;
    height: auto;
}
.imageArea img{
    border: 1px solid white;
    border-radius: 5px;
}
.resultContainer{
    border: 2px black;
    border-style: solid;
    display: flex;
    margin-bottom: 2%;
    color: black;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px darkslategray;
    padding: 10px;
}

.margin{
    margin-top: 10%;
    width: 100%;
    border-bottom: 1px dotted black;
}

.infoArea{
    margin-left: 1%;
    width: 69%;
}

.title, .phone, .address, .isOpen{
    text-align: center;
}

.moreInfo {
    text-align: center;
    color: mediumblue;
    text-decoration: underline;
    font-size: 2em;
}
.markerInfo {
    text-align: center;
    color: mediumblue;
    text-decoration: underline;
    font-size: 1em;
}
.moreInfo:hover{
    cursor: pointer;
}

.place-search { 
    display: flex;
    justify-content: center;
   
}

.directions {
    background: linear-gradient(to bottom, rgba(245, 224, 203, 0.897), white);
    padding: 15px;
    border-radius: 5px;
  
}


@media only screen and (max-width: 791px) {
    .container-fluid {
        /* display: block; */

    }

    .col-md-6 {
        max-width: 100% !important;
    }

}

img {
    height: 200px;
    width: 200px;
}
.direct-icon {
    height: 20px; 
    width: 20px;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    #info-box{
        margin-top: 12%;
    }
    }
@media only screen and (max-width: 480px) {
    .directions {
        margin-top: 15px;
    }
}