@import url('https://fonts.googleapis.com/css?family=Quicksand');
/* @import url('https://fonts.googleapis.com/css?family=Shadto+Light+Two'); */

html{
    height: 100%;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Shadows Into Light Two',
    cursive;
}

body{
    background: #C78989;
    background: #ffece6;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./wallpaper.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container > h1{
    font-family: 'Shadows Into Light Two',
    cursive;
    text-align: center;
    color: white;
    font-size: 5em;
    margin-top: 10%;
}
.buttonArea > button{
    width: 24%;
    font-weight: bold;
}
.buttonArea{
    /* border: 1px solid black; */
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.buttonArea > button:nth-child(1){
    background: #CEF5E9;
    outline: none;
    border: none;
}
.buttonArea > button:nth-child(2){
    background: #FEE6FF;
    margin-left: 1%;
    outline: none;
    border: none;
}
input{
    border: none;
    outline: none;
    background: #ffece6;
    background: transparent;
    border-bottom: 4px solid white;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;   
    margin-bottom: 3%;
    color: white;
    font-size: 2em;
}
input::placeholder{
    color: white;
    height: 2.5em;
    font-size: 1.5em;
}
.searchArea button{
    background: #F5E5C5;
    width: 80%;
    margin: 0 auto;
    outline: none;
    border: none;
}
.highlight {
    box-shadow: 0 0 50px rgba(81, 203, 238, 1);

    border: 10px solid rgba(81, 203, 238, 1);
}

.errorContainer{
    text-align: center;
    font-size: 35px;
}



@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .container > h1 {
          font-size: 3rem;
      }
      #libraries { 
          margin-left: 5%;
      }
      .buttonArea > button {
          width: 27% !important
  }
  input {
      font-size: inherit;
      margin-left: inherit;
      width: 100%;
  }
}
/* ---- Any Landscape Phone */
@media screen and (max-device-width: 823px) and (orientation: landscape) {
    html {
        height: initial;
    }
    input {
        font-size: inherit;
        margin-left: inherit;
        width: 100%;
    }
    .container > h1 {
        font-size: 3rem;
    }
    .buttonArea > button {
        width: 20% !important
}
}
